@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/vue/vue.js"></script>
    <title>VueStudy</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
