@using MyBlog.Models
@model PostViewModel
@{
    ViewBag.Title = "文章内容";
}

<h2>@Model.Title</h2>
@Html.Raw(@Model.Content)
<p>作者：@Model.Author,发布时间：@Model.CreateDate.ToString("yyyy-MM-dd HH:mm")</p>
