@{
    var yieldValue = ViewBag.yieldValue;
    var listValue = ViewBag.listValue;
}
<div class="panel-primary">
    <div class="panel-heading">
        yield关键词学习
    </div>
    <div class="panel-body">
        <p>常规List中筛选数据结果:@listValue</p>
        <p>yield返回List中筛选数据结果:@yieldValue</p>
    </div>
</div>
