@using MyBlog.Models
@model List<PostViewModel>
@{
    ViewBag.Title = "首页";
}
<!-- Page Header-->
<header class="masthead" style="background-image: url('../../Content/clean_blog/dist/assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>大道至简-万物归一</h1>
                    <span class="subheading">穷极一生，学其所用</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            @foreach (var item in Model)
            {
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="/Post/PostDetail/@item.ID" title="查看该文章">
                        <h2 class="post-title">@item.Title</h2>
                        <h3 class="post-subtitle"></h3>
                    </a>
                    <p class="post-meta">
                        提供者
                        <a href="#!" title="跳转至该作者文章列表">@item.Author</a>
                        @item.CreateDate.ToString("yyyy-MM-dd")
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            }
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="/Post/Index">查看更多 →</a></div>
        </div>
    </div>
</div>