@model MVC5.Models.Album

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3>商品：@Model.Title</h3>
    </div>
    <div class="panel-body">
        <p>
            我是商品A
        </p>
    </div>
</div>