<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- 数据库-->
  <add key="BzyDbConnection" value="Data Source=47.106.90.13;Initial Catalog=GrumpyFish;Persist Security Info=True;User ID=sa;Password=yF1@112233445" />
  <!-- 设置Owin开启状态-->
  <add key="owin:AutomaticAppStartup" value="true" />
</appSettings>