@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <p id="welcome-message">

    </p>
    <h1>书籍学习模块</h1>
    <p class="lead">书籍学习模块</p>
    <p><a href="/MVC5Study/CreateOrder" class="btn btn-primary btn-lg">6章、数据注解和验证 &raquo;</a></p>
    <p><a href="/Store/Index" class="btn btn-primary btn-lg">7章、成员资格、授权和安全性 &raquo;</a></p>
</div>
<div class="jumbotron">
    <h1>单项知识点学习模块</h1>
    <p class="lead">单项知识点学习模块</p>
    <p><a href="/Knowledge/Index" class="btn btn-primary btn-lg">Yield关键字学习 &raquo;</a></p>
</div>


@section scripts{
    @if (ViewBag.UserName != null)
    {
        <script tpye="text/javascript">
            $(function myfunction() {
                @*var msg = '欢迎！ @ViewBag.UserName!';*@
                var msg = "欢迎！" +'@Ajax.JavaScriptStringEncode(ViewBag.UserName)';
                $("#welcome-message").html(msg).hide().show('slow');
            })
        </script>
    }
}